* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
p,
a,
div,
li {
  font-family: "Montserrat", sans-serif;
}

#app {
  display: flex;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}

.menu {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 200px;
  &__link {
    margin: 20px;
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
    &.router-link-exact-active {
      color: purple;
    }
  }
}

.container {
  margin-top: 10%;
  margin-left: 30px;
  width: 100%;
  &__crud {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    &-single {
      margin-bottom: 5px;
      color: white;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-buttons {
      display: flex;
      flex-direction: column;
    }
    &-button {
      background-color: white;
      border: 1px solid white;
      color: black;
      border-radius: 5px;
      margin: 5px;

      &--color {
        background-color: rgb(117, 117, 117);
        border: 1px solid rgb(117, 117, 117);
        color: white;
      }
    }
  }
}
